fastapi
uvicorn[standard]
pydantic
pydantic-settings

sqlalchemy[asyncio]
asyncpg
alembic

redis

python-multipart

argon2-cffi
cryptography

httpx
pytest
pytest-cov
pytest-asyncio

email-validator

locust